language: go

go:
- 1.7

env:
- GO_VENDOR=1

cache:
  directories:
  - node_modules

before_install:
- nvm --version
- nvm install 7.2.0
- node --version && npm --version
- go version

install:
- go get -u -v github.com/alecthomas/gometalinter
- go get -u -v github.com/kardianos/govendor
- gometalinter -f -i -u
- govendor sync -v
- npm install

script:
- npm run jslint
- travis_wait 60 npm run golint
- go test ./cmd/... ./server/...
- npm test

before_deploy:
- git config --global user.email "github@travis-ci.org"
- git config --global user.name "Travis CI"
- npm version ${TRAVIS_TAG}
- npm run archive

deploy:
  provider: releases
  api_key:
    secure: kkZfioE7nqnygyL70RrUdW8Aq/Qmwnr4rJLYjRrkW++kBVfr8cvAuIgIQubRntvVpUhWOh/l7f0M64+c2547op8qu9UnQMOZv1vRmYC/otKq/m1tjw8J8bpHTQqF1RVpXpgXL/oqy/X0Ht/nhv0TevG4o6rHMDE9qvi1QU98JihhYYCdjW+lFrM5McZM2upCBboE/+so0lmkJu/dtTwpDYBdINIG84v9AwSGqZLD1qEuoE6zx7vmvrbvjUVcuQhLBY2/JQSPgiR1uLDTasdctfXmc2bEKXlEUarwXwkXsooQ04w+Vbddq3EXrwE7c+KLwCnMBuuwtpl1JnFqNfIgvG1TmQKmnCvC/Md5SrYroBy6UBd01kF/0/34L0PHHG6EPZFXE+aYY8J8kYrWxJaVk9T/PINMND5sRkHQpliesMf6C4gcQCQPUeIF2FhQJZ8uEUljWJCE9NXaE6JlYnOPhWP9L1dSMFUT6PxSSGekoGC1qjqpnNzE/VoIZk9T0KCkOWUAAYL1KtdFOs3N8IUBG0/pcy695UJvbDu42rwmREzeJRvAzD9cBHZSOqjrWB6F2dhEYrXGbkx70OBqJl+DsQNfcx+njafc1p25Wb8kZOatRyQikdgxAwdCARwWclzZM3N3m0nlpSTEZhMuADischkwBao7FysXT7w2Y8I+kEU=
  file: dist/dad-${TRAVIS_TAG}.zip
  skip_cleanup: true
  on:
    tags: true

after_deploy:
- "curl -H 'Content-Type: application/json' --data \"{\\\"source_type\\\": \\\"Tag\\\", \\\"source_name\\\": \\\"${TRAVIS_TAG}\\\"}\" -X POST https://registry.hub.docker.com/u/soprasteria/dad/trigger/${DOCKER_HUB_TOKEN}/"
