.user-page {
  [readonly] {
    border: none !important;
    border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
    border-radius: 0 !important;
    padding: .5em 0 !important;
    margin: 0 1em !important;
  }
}
