.matrix-component {

  .ui.form .datepicker.isreached  {
    color: red; 
  }

  .status-label {
    margin-right: .7em;
    min-width: 1em !important;
    min-height: 1em !important;
  }

  .invisible {
    opacity: 0;
  }

  .field.readonly {
    padding-right: 2.5em !important;
    opacity: 1 !important;
    label {
      opacity: 1 !important;
    }
    .ui.selection.dropdown {
      padding-left: 0 !important;
      margin-left: 1em !important;
      border: none !important;
      input {
        border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
        border-radius: 0 !important;
        padding: .5em 0 !important
      }
      i {
        &.dropdown.icon {
          display: none;
        }
      }
    }
  }
  .ui.selection.dropdown .menu .item .label {
    float: left !important;
    margin-right: 0.5em !important;
  }

  .field.black .ui.selection.dropdown .text:not(span) {
    &::before {
      content: '>>';
      display: inline-block;
      background-color: black;
      color: black;
      margin-right: .5em;
      border-radius: .28571429rem;
      width: 20px;
    }
  }

  .field.grey .ui.selection.dropdown .text:not(span) {
    &::before {
      content: '>>';
      display: inline-block;
      background-color: #767676;
      color: #767676;
      margin-right: .5em;
      border-radius: .28571429rem;
      width: 20px;
    }
  }

  .field.red .ui.selection.dropdown .text:not(span) {
    &::before {
      content: '>>';
      display: inline-block;
      background-color: #DB2828;
      color: #DB2828;
      margin-right: .5em;
      border-radius: .28571429rem;
      width: 20px;
    }
  }

  .field.orange .ui.selection.dropdown .text:not(span) {
    &::before {
      content: '>>';
      display: inline-block;
      background-color: #F2711C;
      color: #F2711C;
      margin-right: .5em;
      border-radius: .28571429rem;
      width: 20px;
    }
  }

  .field.yellow .ui.selection.dropdown .text:not(span) {
    &::before {
      content: '>>';
      display: inline-block;
      background-color: #FBBD08;
      color: #FBBD08;
      margin-right: .5em;
      border-radius: .28571429rem;
      width: 20px;
    }
  }

  .field.olive .ui.selection.dropdown .text:not(span) {
    &::before {
      content: '>>';
      display: inline-block;
      background-color: #B5CC18;
      color: #B5CC18;
      margin-right: .5em;
      border-radius: .28571429rem;
      width: 20px;
    }
  }

  .field.green .ui.selection.dropdown .text:not(span) {
    &::before {
      content: '>>';
      display: inline-block;
      background-color: #21BA45;
      color: #21BA45;
      margin-right: .5em;
      border-radius: .28571429rem;
      width: 20px;
    }
  }

  .comment {
    white-space: pre-wrap;

    &:hover:not(.readOnly) {
      cursor: pointer;
    }

    &.empty {
      color: grey;
    }

    &.center {
      text-align: center;
    }
  }
}

.popup .content {
  white-space: pre-wrap !important;
}
