.project-page {
  padding: 1em;
  .ui.header>.button {
    padding: .75em;
    font-size: 1rem;
  }
  .field.readonly {
    padding-right: 2.5em !important;
    opacity: 1 !important;
    label {
      opacity: 1 !important;
    }
    .ui.selection.dropdown {
      padding-left: 0 !important;
      margin-left: 1em !important;
      border: none !important;
      input {
        border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
        border-radius: 0 !important;
        padding: .5em 0 !important
      }
      i {
        &.dropdown.icon {
          display: none;
        }
      }
    }
  }
}
