.project-card {
  .link.header {
    margin: 0;
    margin-top: .3em;
    a {
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      width:180px;
      display:inline-block;
    }
  }

  .ui.image.label {
    i {
      margin: 0;
      opacity: 1 !important;
      cursor: default;
      transition: none;
      &:hover {
        cursor: default !important;
        color: white !important;
      }
    }
  }
}
