.project-page {
  padding: 1em;

  .floating.button {
    position: fixed !important;
    bottom: 1em !important;
    right: 1em !important;
    box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
  }

  .item .ui.horizontal.label {
    width: 4em !important;
  }

  .item .ui.label {
    margin: .2em .6em .2em 0 !important;
  }

  // rule applied Span preceded by a status-label element
  .status-label ~ span {
    vertical-align: top;
  }

  .add-button {
    margin-left: .5em;
  }

  h1 {
    a {
      margin-right: .5em;
    }

    .projectName {
      margin: 0 .5em 0 0 !important;

      input {
        padding: .2em !important;
      }
    }
  }

  .field.readonly {
    padding-right: 2.5em !important;
    opacity: 1 !important;
    label {
      opacity: 1 !important;
    }
    .ui.selection.dropdown {
      padding-left: 0 !important;
      margin-left: 1em !important;
      border: none !important;
      input {
        border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
        border-radius: 0 !important;
        padding: .5em 0 !important
      }
      i {
        &.dropdown.icon {
          display: none;
        }
      }
    }
  }
}
