.project-card {
  .link.header {
    margin: 0;
    margin-top: .3em;
    a {
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      width:170px;
      display:inline-block;
    }
  }

  .ui.image.label {
    i {
      margin: 0;
      opacity: 1 !important;
      cursor: default;
      transition: none;
      &:hover {
        cursor: default !important;
        color: white !important;
      }
    }
  }

  .ui.right.floated.image {
    margin-bottom: .25em;
  }

  .service-center {
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .business-unit {
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
  }

  .domain {
    width: 260px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
